.button {
    align-items: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Montserrat', Arial, sans-serif;
    justify-content: center;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    vertical-align: middle;

    &--primary {
        background-color: $primary-medium;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.2px;
        @media(min-width: 375px) {
            font-size: 16px;
        }

        &:focus,
        &:hover {
            background-color: $primary-full;
            color: #fff;
        }

        &.disabled,
        &:disabled {
            background-color: $primary-ghostL;
            color: $primary-medium;
            font-weight: 500;
            letter-spacing: 0.5px;
        }
    }

    &--secondary {
        background-color: $secondary-medium;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.2px;
        @media(min-width: 375px) {
            font-size: 16px;
        }

        &:focus,
        &:hover {
            background-color: $secondary-full;
            color: #fff;
        }

        &.disabled,
        &:disabled {
            background-color: $secondary-ghostL;
            color: $secondary-medium;
            font-weight: 500;
            letter-spacing: 0.5px;
        }
    }

    &--big {
        height: 40px;
        line-height: 1.25;
        padding: 10px 16px;
    }

    &--small {
        font-size: 14px;
        font-weight: 500;
        height: 24px;
        letter-spacing: 0.15px;
        line-height: 1.21428;
        padding: 3px 12px 4px;

        &.disabled,
        &:disabled {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.15px;
        }
    }

    &--wide {
        width: 100%;
    }

    &.disabled,
    &:disabled {
        cursor: default;
        pointer-events: none;

        &:focus {
            outline: none;
        }
    }

    .icon {
        stroke: #fff;

        &:first-child {
            margin-right: 8px;
        }

        &:last-child {
            margin-left: 8px;
        }
    }

    &--just_icon {
        min-width: 40px;
        padding-left: 8px;
        padding-right: 8px;

        .icon {
            &:first-child {
                margin-right: 0;
            }

            &:last-child {
                margin-left: 0;
            }
        }
    }

    &--primary_ghost {
        background-color: $primary-ghostL;
        color: $primary-medium;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.5px;

        &:focus,
        &:hover {
            background-color: $primary-full;
            color: #fff;
            font-weight: 700;
            letter-spacing: 0.2px;

            .icon {
                stroke: #fff;
            }
        }

        .icon {
            stroke: $primary-medium;
        }
    }

    &--secondary_ghost {
        background-color: $secondary-ghostL;
        color: $secondary-medium;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.5px;

        &:focus,
        &:hover {
            background-color: $secondary-full;
            color: #fff;
            font-weight: 700;
            letter-spacing: 0.2px;

            .icon {
                stroke: #fff;
            }
        }

        .icon {
            stroke: $secondary-medium;
        }
    }
}