.checkboxes-list {
    list-style: none;
    line-height: 0;
    padding: 0;

    li {
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

.checkbox-label,
.radio-label {
    color: $text-medium;
    display: inline-block;
    font-size: 14px;
    line-height: 1.14285;
    min-height: 24px;
    position: relative;
    padding-left: 32px;
    transition: color 0.3s;
    vertical-align: top;

    &:hover {
        color: $text-full;
    }

    &:focus {
        outline: 1px dotted inherit;
    }

    input[type="checkbox"],
    input[type="radio"] {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;
    }

    &--tiny {
        font-size: 10px;
        line-height: 1.4;
        padding-left: 24px;

        .checkbox-text,
        .radio-text {
            padding-top: 2px;
        }

        .checkbox-icon,
        .radio-icon {
            background-size: 16px 16px;
            height: 16px;
            width: 16px;
        }
    }
}

.checkbox-icon,
.radio-icon {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    height: 24px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: border-color 0.3s;
    width: 24px;
}

.checkbox-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3Z' stroke='%23073D67' stroke-opacity='0.25' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

input[type="checkbox"]:focus + .checkbox-icon,
.checkbox-label:hover input[type="checkbox"]:not(:checked):not(:disabled) + .checkbox-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 11L12 14L22 4' stroke='%23A9CAE1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 12V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H16' stroke='%23A9CAE1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.checkbox-label:hover input[type="checkbox"]:checked:not(:disabled) + .checkbox-icon,
input[type="checkbox"]:checked:not(:disabled):focus + .checkbox-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 11L12 14L22 4' stroke='%23246492' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 12V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H16' stroke='%23246492' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

input[type="checkbox"]:checked + .checkbox-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 11L12 14L22 4' stroke='%23559ED2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 12V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H16' stroke='%23559ED2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.radio-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' stroke='%23073D67' stroke-opacity='0.25' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

input[type="radio"]:focus + .radio-icon,
.radio-label:hover input[type="radio"]:not(:checked):not(:disabled) + .radio-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' stroke='%23A9CAE1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18Z' fill='%23A9CAE1'/%3E%3C/svg%3E%0A");
}

.radio-label:hover input[type="radio"]:checked:not(:disabled) + .radio-icon,
input[type="radio"]:checked:not(:disabled):focus + .radio-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' stroke='%23246492' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18Z' fill='%23246492'/%3E%3C/svg%3E%0A");
}

input[type="radio"]:checked + .radio-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' stroke='%23559ED2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18Z' fill='%23559ED2'/%3E%3C/svg%3E%0A");
}

.checkbox-text,
.radio-text {
    cursor: pointer;
    display: inline-block;
    padding-top: 5px;
}

input[type="checkbox"]:disabled ~ .checkbox-text,
input[type="checkbox"].disabled ~ .checkbox-text,
input[type="checkbox"]:disabled ~ .checkbox-icon,
input[type="checkbox"].disabled ~ .checkbox-icon,
input[type="radio"]:disabled ~ .radio-text,
input[type="radio"].disabled ~ .radio-text,
input[type="radio"]:disabled ~ .radio-icon,
input[type="radio"].disabled ~ .radio-icon {
    cursor: default;
    opacity: 0.5;
}