$text-full: #051B2C;
$text-medium: rgba(#052239, 0.8);
$text-low: rgba(#002F53, 0.5);
$text-lowest: rgba(#073D67, 0.25);
$primary-full: #246492;
$primary-medium: #559ED2;
$primary-low: #A9CAE1;
$primary-ghostH: #D3E8F8;
$primary-ghostL: #EFF7FB;
$secondary-full: #BD131D;
$secondary-medium: #FB3449;
$secondary-low: #FF828F;
$secondary-ghostH: #F6CDD2;
$secondary-ghostL: #FFF3F5;
$background: #fff;
$background-alt: #F6FBFF;
$green: #27AE60;
$orange: #F2994A;