<div class="cards-list__item">
    <div class="card">
        <div class="card__inner">
            <a class="card__link" href="detail.html">
                <span class="card__image">
                    <img src="images/content/cards/img_1.jpg" srcset="images/content/cards/img_1@2x.jpg 2x" alt="">
                </span>
                <span class="card__image-togglers">
                    <span class="card__image-toggler is-active" data-src="images/content/cards/img_3.jpg" data-srcset="images/content/cards/img_3@2x.jpg 2x"></span>
                    <span class="card__image-toggler" data-src="images/content/cards/img_1.jpg" data-srcset="images/content/cards/img_1@2x.jpg 2x"></span>
                    <span class="card__image-toggler" data-src="images/content/cards/img_3.jpg" data-srcset="images/content/cards/img_3@2x.jpg 2x"></span>
                    <span class="card__image-toggler" data-src="images/content/cards/img_1.jpg" data-srcset="images/content/cards/img_1@2x.jpg 2x"></span>
                </span>
            </a>
            <div class="card__colors">
                <a class="card__color" href="#" title="Название цвета">
                    <img src="images/content/cards/color_1.jpg" srcset="images/content/cards/color_1@2x.jpg 2x" alt="Название цвета">
                </a>
                <a class="card__color" href="#" title="Название цвета">
                    <img src="images/content/cards/color_2.jpg" srcset="images/content/cards/color_2@2x.jpg 2x" alt="Название цвета">
                </a>
                <a class="card__color" href="#" title="Название цвета">
                    <img src="images/content/cards/color_3.jpg" srcset="images/content/cards/color_3@2x.jpg 2x" alt="Название цвета">
                </a>
                <a class="card__color" href="#" title="Название цвета">
                    <img src="images/content/cards/color_4.jpg" srcset="images/content/cards/color_4@2x.jpg 2x" alt="Название цвета">
                </a>
            </div>
            <p class="card__price-block">
                <span class="card__price">12 178 ₽</span>
            </p>
            <p class="card__title"><a href="detail.html">Бутылка для воды стеклянная c чехлом Pure, серая</a></p>
            <p class="card__stock">В наличии 2 845 шт.</p>
            <div class="card__buttons">
                <a class="js-open-dropdown card__add-cart button button--primary_ghost button--big" href="#">В корзину</a>
                <button class="card__action" type="button" title="Добавить к сравнению">
                    <svg class="icon icon--big">
                        <use xlink:href="#compare"></use>
                    </svg>
                </button>
                <button class="card__action" type="button" title="Добавить в избранное">
                    <svg class="icon icon--big">
                        <use xlink:href="#favorite"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="card__inner card__dropdown">
            <div class="card__tirage">
                <span class="card__size">XS /44</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">S / 46</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">M /48</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">L / 50</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">XL / 52</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">2XL / 54</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">3XL / 56</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">4XL / 58</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__buttons card__buttons--type_1">
                <button class="button button--primary button--big" type="button" disabled>Добавить</button>
                <button class="js-close-dropdown button button--primary button--big button--just_icon" type="button" title="Закрыть">
                    <svg class="icon icon--big">
                        <use xlink:href="#close"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="cards-list__item">
    <div class="card">
        <div class="card__inner">
            <a class="card__link" href="detail.html">
                <span class="card__image">
                    <img src="images/content/cards/img_1.jpg" srcset="images/content/cards/img_1@2x.jpg 2x" alt="">
                </span>
                <span class="card__image-togglers">
                    <span class="card__image-toggler is-active" data-src="images/content/cards/img_3.jpg" data-srcset="images/content/cards/img_3@2x.jpg 2x"></span>
                    <span class="card__image-toggler" data-src="images/content/cards/img_1.jpg" data-srcset="images/content/cards/img_1@2x.jpg 2x"></span>
                    <span class="card__image-toggler" data-src="images/content/cards/img_3.jpg" data-srcset="images/content/cards/img_3@2x.jpg 2x"></span>
                    <span class="card__image-toggler" data-src="images/content/cards/img_1.jpg" data-srcset="images/content/cards/img_1@2x.jpg 2x"></span>
                </span>
            </a>
            <div class="card__colors">
                <a class="card__color" href="#" title="Название цвета">
                    <img src="images/content/cards/color_1.jpg" srcset="images/content/cards/color_1@2x.jpg 2x" alt="Название цвета">
                </a>
                <a class="card__color" href="#" title="Название цвета">
                    <img src="images/content/cards/color_2.jpg" srcset="images/content/cards/color_2@2x.jpg 2x" alt="Название цвета">
                </a>
                <a class="card__color" href="#" title="Название цвета">
                    <img src="images/content/cards/color_3.jpg" srcset="images/content/cards/color_3@2x.jpg 2x" alt="Название цвета">
                </a>
                <a class="card__color" href="#" title="Название цвета">
                    <img src="images/content/cards/color_4.jpg" srcset="images/content/cards/color_4@2x.jpg 2x" alt="Название цвета">
                </a>
            </div>
            <p class="card__price-block">
                <span class="card__price">12 178 ₽</span>
            </p>
            <p class="card__title"><a href="detail.html">Бутылка для воды стеклянная c чехлом Pure, серая</a></p>
            <p class="card__stock">В наличии 2 845 шт.</p>
            <div class="card__buttons">
                <a class="js-open-dropdown card__add-cart button button--primary_ghost button--big" href="#">В корзину</a>
                <button class="card__action" type="button" title="Добавить к сравнению">
                    <svg class="icon icon--big">
                        <use xlink:href="#compare"></use>
                    </svg>
                </button>
                <button class="card__action" type="button" title="Добавить в избранное">
                    <svg class="icon icon--big">
                        <use xlink:href="#favorite"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="card__inner card__dropdown">
            <div class="card__tirage">
                <span class="card__size">XS /44</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">S / 46</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">M /48</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">L / 50</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">XL / 52</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">2XL / 54</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">3XL / 56</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">4XL / 58</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__buttons card__buttons--type_1">
                <button class="button button--primary button--big" type="button" disabled>Добавить</button>
                <button class="js-close-dropdown button button--primary button--big button--just_icon" type="button" title="Закрыть">
                    <svg class="icon icon--big">
                        <use xlink:href="#close"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="cards-list__item">
    <div class="card">
        <div class="card__inner">
            <a class="card__link" href="detail.html">
                <span class="card__image">
                    <img src="images/content/cards/img_1.jpg" srcset="images/content/cards/img_1@2x.jpg 2x" alt="">
                </span>
                <span class="card__image-togglers">
                    <span class="card__image-toggler is-active" data-src="images/content/cards/img_3.jpg" data-srcset="images/content/cards/img_3@2x.jpg 2x"></span>
                    <span class="card__image-toggler" data-src="images/content/cards/img_1.jpg" data-srcset="images/content/cards/img_1@2x.jpg 2x"></span>
                    <span class="card__image-toggler" data-src="images/content/cards/img_3.jpg" data-srcset="images/content/cards/img_3@2x.jpg 2x"></span>
                    <span class="card__image-toggler" data-src="images/content/cards/img_1.jpg" data-srcset="images/content/cards/img_1@2x.jpg 2x"></span>
                </span>
            </a>
            <div class="card__colors">
                <a class="card__color" href="#" title="Название цвета">
                    <img src="images/content/cards/color_1.jpg" srcset="images/content/cards/color_1@2x.jpg 2x" alt="Название цвета">
                </a>
                <a class="card__color" href="#" title="Название цвета">
                    <img src="images/content/cards/color_2.jpg" srcset="images/content/cards/color_2@2x.jpg 2x" alt="Название цвета">
                </a>
                <a class="card__color" href="#" title="Название цвета">
                    <img src="images/content/cards/color_3.jpg" srcset="images/content/cards/color_3@2x.jpg 2x" alt="Название цвета">
                </a>
                <a class="card__color" href="#" title="Название цвета">
                    <img src="images/content/cards/color_4.jpg" srcset="images/content/cards/color_4@2x.jpg 2x" alt="Название цвета">
                </a>
            </div>
            <p class="card__price-block">
                <span class="card__price">12 178 ₽</span>
            </p>
            <p class="card__title"><a href="detail.html">Бутылка для воды стеклянная c чехлом Pure, серая</a></p>
            <p class="card__stock">В наличии 2 845 шт.</p>
            <div class="card__buttons">
                <a class="js-open-dropdown card__add-cart button button--primary_ghost button--big" href="#">В корзину</a>
                <button class="card__action" type="button" title="Добавить к сравнению">
                    <svg class="icon icon--big">
                        <use xlink:href="#compare"></use>
                    </svg>
                </button>
                <button class="card__action" type="button" title="Добавить в избранное">
                    <svg class="icon icon--big">
                        <use xlink:href="#favorite"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="card__inner card__dropdown">
            <div class="card__tirage">
                <span class="card__size">XS /44</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">S / 46</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">M /48</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">L / 50</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">XL / 52</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">2XL / 54</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">3XL / 56</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">4XL / 58</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__buttons card__buttons--type_1">
                <button class="button button--primary button--big" type="button" disabled>Добавить</button>
                <button class="js-close-dropdown button button--primary button--big button--just_icon" type="button" title="Закрыть">
                    <svg class="icon icon--big">
                        <use xlink:href="#close"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="cards-list__item">
    <div class="card">
        <div class="card__inner">
            <a class="card__link" href="detail.html">
                <span class="card__image">
                    <img src="images/content/cards/img_1.jpg" srcset="images/content/cards/img_1@2x.jpg 2x" alt="">
                </span>
                <span class="card__image-togglers">
                    <span class="card__image-toggler is-active" data-src="images/content/cards/img_3.jpg" data-srcset="images/content/cards/img_3@2x.jpg 2x"></span>
                    <span class="card__image-toggler" data-src="images/content/cards/img_1.jpg" data-srcset="images/content/cards/img_1@2x.jpg 2x"></span>
                    <span class="card__image-toggler" data-src="images/content/cards/img_3.jpg" data-srcset="images/content/cards/img_3@2x.jpg 2x"></span>
                    <span class="card__image-toggler" data-src="images/content/cards/img_1.jpg" data-srcset="images/content/cards/img_1@2x.jpg 2x"></span>
                </span>
            </a>
            <div class="card__colors">
                <a class="card__color" href="#" title="Название цвета">
                    <img src="images/content/cards/color_1.jpg" srcset="images/content/cards/color_1@2x.jpg 2x" alt="Название цвета">
                </a>
                <a class="card__color" href="#" title="Название цвета">
                    <img src="images/content/cards/color_2.jpg" srcset="images/content/cards/color_2@2x.jpg 2x" alt="Название цвета">
                </a>
                <a class="card__color" href="#" title="Название цвета">
                    <img src="images/content/cards/color_3.jpg" srcset="images/content/cards/color_3@2x.jpg 2x" alt="Название цвета">
                </a>
                <a class="card__color" href="#" title="Название цвета">
                    <img src="images/content/cards/color_4.jpg" srcset="images/content/cards/color_4@2x.jpg 2x" alt="Название цвета">
                </a>
            </div>
            <p class="card__price-block">
                <span class="card__price">12 178 ₽</span>
            </p>
            <p class="card__title"><a href="detail.html">Бутылка для воды стеклянная c чехлом Pure, серая</a></p>
            <p class="card__stock">В наличии 2 845 шт.</p>
            <div class="card__buttons">
                <a class="js-open-dropdown card__add-cart button button--primary_ghost button--big" href="#">В корзину</a>
                <button class="card__action" type="button" title="Добавить к сравнению">
                    <svg class="icon icon--big">
                        <use xlink:href="#compare"></use>
                    </svg>
                </button>
                <button class="card__action" type="button" title="Добавить в избранное">
                    <svg class="icon icon--big">
                        <use xlink:href="#favorite"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="card__inner card__dropdown">
            <div class="card__tirage">
                <span class="card__size">XS /44</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">S / 46</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">M /48</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">L / 50</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">XL / 52</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">2XL / 54</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">3XL / 56</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__tirage">
                <span class="card__size">4XL / 58</span>
                <div class="card__input-container">
                    <label class="input-label input-label--small">
                        <span class="input-label__input-container">
                            <input class="js-input input" type="text" value="" placeholder="до 1 580 шт" />
                        </span>
                    </label>
                </div>
            </div>
            <div class="card__buttons card__buttons--type_1">
                <button class="button button--primary button--big" type="button" disabled>Добавить</button>
                <button class="js-close-dropdown button button--primary button--big button--just_icon" type="button" title="Закрыть">
                    <svg class="icon icon--big">
                        <use xlink:href="#close"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>