<div class="detail-images">
    <div class="detail-images__slider-block">
        <div class="js-detail-slider detail-images__slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/content/detail/img_1.jpg" srcset="images/content/detail/img_1@2x.jpg" alt="alt" />
                </div>
                <div class="swiper-slide">
                    <img src="images/content/detail/img_1.jpg" srcset="images/content/detail/img_1@2x.jpg" alt="alt" />
                </div>
                <div class="swiper-slide">
                    <img src="images/content/detail/img_1.jpg" srcset="images/content/detail/img_1@2x.jpg" alt="alt" />
                </div>
                <div class="swiper-slide">
                    <img src="images/content/detail/img_1.jpg" srcset="images/content/detail/img_1@2x.jpg" alt="alt" />
                </div>
                <div class="swiper-slide">
                    <img src="images/content/detail/img_1.jpg" srcset="images/content/detail/img_1@2x.jpg" alt="alt" />
                </div>
                <div class="swiper-slide">
                    <img src="images/content/detail/img_1.jpg" srcset="images/content/detail/img_1@2x.jpg" alt="alt" />
                </div>
            </div>
            <button class="swiper-button-prev" type="button" title="Назад">
                <svg class="icon icon--giant">
                    <use xlink:href="#chevron_left"></use>
                </svg>
            </button>
            <button class="swiper-button-next" type="button" title="Вперёд">
                <svg class="icon icon--giant">
                    <use xlink:href="#chevron_right"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="detail-images__thumbs-block detail-images__thumbs-block--with_buttons">
        <button class="swiper-button-next" type="button" title="Вперёд">
            <svg class="icon icon--giant">
                <use xlink:href="#chevron_up"></use>
            </svg>
        </button>
        <div thumbsSlider="" class="js-detail-thumbs detail-images__thumbs swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="detail-images__thumb">
                        <img src="images/content/detail/thumb_1.jpg" srcset="images/content/detail/thumb_1@2x.jpg" alt="alt" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="detail-images__thumb">
                        <img src="images/content/detail/thumb_1.jpg" srcset="images/content/detail/thumb_1@2x.jpg" alt="alt" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="detail-images__thumb">
                        <img src="images/content/detail/thumb_1.jpg" srcset="images/content/detail/thumb_1@2x.jpg" alt="alt" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="detail-images__thumb">
                        <img src="images/content/detail/thumb_1.jpg" srcset="images/content/detail/thumb_1@2x.jpg" alt="alt" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="detail-images__thumb">
                        <img src="images/content/detail/thumb_1.jpg" srcset="images/content/detail/thumb_1@2x.jpg" alt="alt" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="detail-images__thumb">
                        <img src="images/content/detail/thumb_1.jpg" srcset="images/content/detail/thumb_1@2x.jpg" alt="alt" />
                    </div>
                </div>
            </div>
        </div>
        <button class="swiper-button-prev" type="button" title="Назад">
            <svg class="icon icon--giant">
                <use xlink:href="#chevron_down"></use>
            </svg>
        </button>
    </div>
</div>