<div class="float-bar">
    <a class="iconed-link" href="#">
        <span class="iconed-link__icon-container">
            <svg class="icon icon--big">
                <use xlink:href="#help"></use>
            </svg>
        </span>
        <span class="iconed-link__title">Помощь</span>
    </a>
    <a class="iconed-link iconed-link--type_1" href="#">
        <span class="iconed-link__icon-container">
            <svg class="icon icon--big">
                <use xlink:href="#login"></use>
            </svg>
        </span>
        <span class="iconed-link__title">Войти</span>
    </a>
    <a class="iconed-link" href="#">
        <span class="iconed-link__icon-container">
            <span class="iconed-link__notificator notificator">123</span>
            <svg class="icon icon--big">
                <use xlink:href="#favorite"></use>
            </svg>
        </span>
        <span class="iconed-link__title">Избранное</span>
    </a>
    <a class="iconed-link" href="#">
        <span class="iconed-link__icon-container">
            <span class="iconed-link__notificator notificator">10</span>
            <svg class="icon icon--big">
                <use xlink:href="#cart"></use>
            </svg>
        </span>
        <span class="iconed-link__title">Корзина</span>
    </a>
</div>