<div class="float-bar compensate-for-scrollbar">
    <a class="iconed-link" href="javascript:void(0)" data-fancybox="help_popup_float_bar" data-src="#help_popup">
        <span class="iconed-link__icon-container">
            <svg class="icon icon--big">
                <use xlink:href="#help"></use>
            </svg>
        </span>
        <span class="iconed-link__title">Помощь</span>
    </a>
    <a class="iconed-link" href="javascript:void(0)" data-fancybox="modal_1_float_bar" data-src="#modal_1">
        <span class="iconed-link__icon-container">
            <svg class="icon icon--big">
                <use xlink:href="#personal"></use>
            </svg>
        </span>
        <span class="iconed-link__title">Кабинет</span>
    </a>
    <a class="iconed-link" href="#">
        <span class="iconed-link__icon-container">
            <span class="iconed-link__notificator notificator">123</span>
            <svg class="icon icon--big">
                <use xlink:href="#favorite"></use>
            </svg>
        </span>
        <span class="iconed-link__title">Избранное</span>
    </a>
    <a class="iconed-link" href="#">
        <span class="iconed-link__icon-container">
            <span class="iconed-link__notificator notificator">10</span>
            <svg class="icon icon--big">
                <use xlink:href="#cart"></use>
            </svg>
        </span>
        <span class="iconed-link__title">Корзина</span>
    </a>
</div>