<footer class="footer">
    <div class="footer__top">
        <div class="footer__top-inner container">
            <div class="footer__top-center">
                <p class="footer__top-center-title h3">Не нашли подходящего товара?</p>
                <p class="footer__top-center-note">Мы поможем выбрать!</p>
            </div>
            <div class="footer__top-left">
                <p class="footer__phone-block">
                    <a class="footer__phone" href="tel:+7 812 648-28-58">
                        <svg class="icon icon--big">
                            <use xlink:href="#phone"></use>
                        </svg>
                        +7 812 648-28-58
                    </a>
                </p>
                <p class="footer__work-time">c 10:00 до 19:00 (по Мск)</p>
            </div>
            <div class="footer__top-right">
                <button class="button button--secondary button--big" type="button">
                    <span>Оставить заявку</span>
                    <svg class="icon icon--big">
                        <use xlink:href="#envelope"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="footer__devider">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="footer__middle container">
        <div class="footer__middle-column">
            <p class="h5">TooManyGifts</p>
            <ul class="footer-menu footer-menu--type_1 footer-menu--type_2">
                <li><a class="footer-menu__link" href="#">О компании</a></li>
                <li><a class="footer-menu__link" href="#">Новости</a></li>
                <li><a class="footer-menu__link" href="#">Блог</a></li>
                <li><a class="footer-menu__link" href="#">Контакты</a></li>
                <li><a class="footer-menu__link" href="#">Акции</a></li>
                <li><a class="footer-menu__link" href="#">Бренды</a></li>
            </ul>
            <p class="h5">Наш офис в СПб</p>
            <div class="footer__contacts">
                <p>ул. Цветочная, д. 2В</p>
                <p><a href="tel:+74956461552">7 495 646-15-52</a> (10:00 - 19:00 Мск)</p>
            </div>
        </div>
        <div class="footer__middle-column">
            <p class="h5">Помощь с заказом</p>
            <ul class="footer-menu footer-menu--type_1">
                <li><a class="footer-menu__link" href="#">Как заказать</a></li>
                <li><a class="footer-menu__link" href="#">Требования к макетам</a></li>
                <li><a class="footer-menu__link" href="#">Оплата</a></li>
                <li><a class="footer-menu__link" href="#">Доставка</a></li>
                <li><a class="footer-menu__link" href="#">Обмен и возврат</a></li>
                <li><a class="footer-menu__link" href="#">Готовые решения</a></li>
            </ul>
        </div>
        <div class="footer__middle-column">
            <p class="h5">Способы оплаты</p>
            <div class="footer__pics">
                <img width="37" height="24" src="images/content/footer-pics/visa.jpg" alt="VISA">
                <img width="29" height="24" src="images/content/footer-pics/mc.jpg" alt="MASTERCARD">
                <img width="45" height="24" src="images/content/footer-pics/mir.jpg" alt="МИР">
                <img width="23" height="24" src="images/content/footer-pics/sberbank.jpg" alt="Сбербанк">
                <img width="14" height="24" src="images/content/footer-pics/alfa.jpg" alt="Альфа Банк">
                <img width="16" height="24" src="images/content/footer-pics/yd.jpg" alt="Яндекс Деньги">
                <img width="23" height="24" src="images/content/footer-pics/webmoney.jpg" alt="Webmoney">
                <img width="54" height="24" src="images/content/footer-pics/dc.jpg" alt="Diners Club">
                <img width="58" height="24" src="images/content/footer-pics/am_express.jpg" alt="American Express">
                <img width="21" height="24" src="images/content/footer-pics/qiwi.jpg" alt="Qiwi">
            </div>
            <p class="h5">Способы доставки</p>
            <div class="footer__pics">
                <img width="53" height="24" src="images/content/footer-pics/bc.jpg" alt="Балтийский курьер">
                <img width="28" height="24" src="images/content/footer-pics/dl.jpg" alt="Деловые линии">
                <img width="45" height="24" src="images/content/footer-pics/gruz.jpg" alt="Грузовичков">
                <img width="45" height="24" src="images/content/footer-pics/dpd.jpg" alt="DPD">
            </div>
        </div>
        <div class="footer__middle-column">
            <p class="h5">Сувенирная продукция</p>
            <ul class="footer-menu">
                <li><a class="footer-menu__link" href="#">Power bank’и</a></li>
                <li><a class="footer-menu__link" href="#">Упаковочная бумага</a></li>
                <li><a class="footer-menu__link" href="#">Пресс-папье с логотипом</a></li>
                <li><a class="footer-menu__link" href="#">Изготовление и печать блокнотов</a></li>
                <li><a class="footer-menu__link" href="#">Подарочные коробки и упаковка</a></li>
                <li><a class="footer-menu__link" href="#">Стилус для телефона и планшета</a></li>
                <li><a class="footer-menu__link" href="#">Печать на кружках</a></li>
                <li><a class="footer-menu__link" href="#">Декоративные подушки</a></li>
                <li><a class="footer-menu__link" href="#">Мультитулы</a></li>
                <li><a class="footer-menu__link" href="#">Складные ножи</a></li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom container">
        <div class="footer__logo">
            <picture>
                <source srcset="images/logo_full.svg" media="(min-width: 1024px)">
                <img src="images/logo.svg" alt="TOOMANYGIFTS">
            </picture>
        </div>
        <div class="footer__bottom-inner">
            <p class="footer__copyright">© 2020 TooManyGifts.ru</p>
            <p class="footer__bottom-right">
                <button class="footer__feedback-button" type="button">Обратная связь</button>
            </p>
            <p class="footer__bottom-note">Информация, представленная на данном сайте, ни при каких обстоятельствах не является публичной офертой.</p>
        </div>
    </div>
</footer>