<header class="header compensate-scrollbar compensate-for-scrollbar">
    <div class="header__top container">
        <a class="logo" href="#" title="На главную">
            <picture>
                <source srcset="images/logo_full.svg" media="(min-width: 1024px)">
                <img src="images/logo.svg" alt="TOOMANYGIFTS">
            </picture>
        </a>
    </div>
    <div class="header__bottom">
        <div class="header__bottom-inner container">
            <button class="js-catalog-toggler catalog-toggler" type="button">
                <svg class="icon icon--big">
                    <use xlink:href="#burger"></use>
                </svg>
                <span>Каталог</span>
            </button>
            <div class="header__search">
                <div class="search-bar">
                    <div class="search-bar__categories-block">
                        <button class="js-search-categories search-bar__categories-toggler" type="button">
                            <span>Все категории</span>
                            <svg class="icon icon--big icon--fill">
                                <use xlink:href="#arrow_down"></use>
                            </svg>
                        </button>
                        <div class="search-bar__categories-dropdown dropdown">
                            <ul class="categories-list">
                                <li class="categories-list__item">Ежедневники и блокноты</li>
                                <li class="categories-list__item">Подарочные наборы</li>
                                <li class="categories-list__item">Пледы</li>
                                <li class="categories-list__item">Зонты</li>
                                <li class="categories-list__item">Футболки</li>
                                <li class="categories-list__item">Одежда</li>
                                <li class="categories-list__item">Детские подарки</li>
                                <li class="categories-list__item">Сумки</li>
                                <li class="categories-list__item">Электроника</li>
                                <li class="categories-list__item">Флешки</li>
                                <li class="categories-list__item">Товары для путешествий</li>
                                <li class="categories-list__item">Товары для дома</li>
                                <li class="categories-list__item">Средства защиты</li>
                                <li class="categories-list__item">Посуда с нанесением логотипа</li>
                                <li class="categories-list__item">Спортивные товары</li>
                                <li class="categories-list__item">Упаковка</li>
                                <li class="categories-list__item">Мерч</li>
                                <li class="categories-list__item">Ручки с логотипом</li>
                                <li class="categories-list__item">Часы</li>
                                <li class="categories-list__item">Эко-подарки</li>
                                <li class="categories-list__item">Съедобные сувениры</li>
                                <li class="categories-list__item">Товары для отдыха и туризма</li>
                                <li class="categories-list__item">Корпоративные подарки</li>
                                <li class="categories-list__item">Полиграфическая продукция</li>
                            </ul>
                        </div>
                    </div>
                    <form class="search-bar__form" action="search.html" method="post">
                        <div class="search-bar__input-container">
                            <input class="search-bar__input" name="q" type="text" value="" autocapitalize="none" autocomplete="off" autocorrect="off" spellcheck="false" placeholder="Найти на сайте...">
                            <button class="search-bar__input-clear" type="button" title="Очистить" disabled>
                                <svg class="icon icon--big">
                                    <use xlink:href="#close"></use>
                                </svg>
                            </button>
                        </div>
                        <button class="search-bar__submit" type="submit" title="Найти" disabled>
                            <svg class="icon icon--big">
                                <use xlink:href="#search"></use>
                            </svg>
                        </button>
                    </form>
                    <div class="search-bar__dropdown dropdown">
                        <div class="search-bar__items">
                            <div class="search-item">
                                <button class="search-item__body" type="button">
                                    <span class="search-item__image-block">
                                        <svg class="icon icon--big">
                                            <use xlink:href="#undo"></use>
                                        </svg>
                                    </span>
                                    <span class="search-item__title-block">
                                        <span class="search-item__title"><b>Футболка</b> для завоевания мира длинное название товарной позиции для проверки вообше всего на свете</span>
                                    </span>
                                </button>
                                <button class="search-item__delete" type="button" title="Удалить подсказку">
                                    <svg class="icon icon--big">
                                        <use xlink:href="#delete"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="search-item">
                                <button class="search-item__body" type="button">
                                    <span class="search-item__image-block">
                                        <svg class="icon icon--big">
                                            <use xlink:href="#search"></use>
                                        </svg>
                                    </span>
                                    <span class="search-item__title-block">
                                        <span class="search-item__title"><b>Футболка</b> женская</span>
                                    </span>
                                </button>
                            </div>
                            <div class="search-item">
                                <button class="search-item__body" type="button">
                                    <span class="search-item__image-block">
                                        <svg class="icon icon--big">
                                            <use xlink:href="#search"></use>
                                        </svg>
                                    </span>
                                    <span class="search-item__title-block">
                                        <span class="search-item__title"><b>Футболка</b> детская</span>
                                    </span>
                                </button>
                            </div>
                            <div class="search-item">
                                <button class="search-item__body" type="button">
                                    <span class="search-item__image-block">
                                        <svg class="icon icon--big">
                                            <use xlink:href="#search"></use>
                                        </svg>
                                    </span>
                                    <span class="search-item__title-block">
                                        <span class="search-item__title"><b>Футболка</b> мужская</span>
                                    </span>
                                </button>
                            </div>
                            <div class="search-item">
                                <button class="search-item__body" type="button">
                                    <span class="search-item__image-block">
                                        <svg class="icon icon--big">
                                            <use xlink:href="#search"></use>
                                        </svg>
                                    </span>
                                    <span class="search-item__title-block">
                                        <span class="search-item__title"><b>Футболка</b> унисексик</span>
                                    </span>
                                </button>
                            </div>
                            <div class="search-item">
                                <button class="search-item__body" type="button">
                                    <span class="search-item__image-block">
                                        <svg class="icon icon--big">
                                            <use xlink:href="#search"></use>
                                        </svg>
                                    </span>
                                    <span class="search-item__title-block">
                                        <span class="search-item__title"><b>Футболка</b> с принтом</span>
                                    </span>
                                </button>
                            </div>
                            <div class="search-item">
                                <a class="search-item__body search-item__body--type_1" href="#">
                                    <span class="search-item__image-block">
                                        <img src="images/content/search-items/img_1.jpg" srcset="images/content/search-items/img_1.jpg 2x" alt="Футболки женские">
                                    </span>
                                    <span class="search-item__title-block">
                                        <span class="search-item__title">Футболки женские</span>
                                        <span class="search-item__alt-text">Шмотоньки / Женские / Футболки</span>
                                    </span>
                                </a>
                            </div>
                            <div class="search-item">
                                <a class="search-item__body search-item__body--type_1" href="#">
                                    <span class="search-item__image-block">
                                        <img src="images/content/search-items/img_2.jpg" srcset="images/content/search-items/img_2.jpg 2x" alt="Футболки мужские">
                                    </span>
                                    <span class="search-item__title-block">
                                        <span class="search-item__title">Футболки мужские</span>
                                        <span class="search-item__alt-text">Шмотоньки / Мужские / Футболки</span>
                                    </span>
                                </a>
                            </div>
                            <div class="search-item">
                                <a class="search-item__body search-item__body--type_1" href="#">
                                    <span class="search-item__image-block">
                                        <svg class="icon icon--big">
                                            <use xlink:href="#feather"></use>
                                        </svg>
                                    </span>
                                    <span class="search-item__title-block">
                                        <span class="search-item__title">Печать изображения на футболках</span>
                                        <span class="search-item__alt-text">Узнайте о новейших доступных методах нанесения</span>
                                    </span>
                                </a>
                            </div>
                            <div class="search-item">
                                <a class="search-item__body search-item__body--type_1" href="#">
                                    <span class="search-item__image-block">
                                        <img src="images/content/search-items/img_3.jpg" srcset="images/content/search-items/img_3.jpg 2x" alt="Бренд ТВОЁ">
                                    </span>
                                    <span class="search-item__title-block">
                                        <span class="search-item__title">ТВОЁ</span>
                                        <span class="search-item__alt-text">Бренд</span>
                                    </span>
                                </a>
                            </div>
                            <div class="search-item">
                                <a class="search-item__body search-item__body--type_1" href="#">
                                    <span class="search-item__image-block"></span>
                                    <span class="search-item__title-block">
                                        <span class="search-item__title"><b>Футболка</b> Puma женская</span>
                                        <span class="search-item__price">1 650 ₽</span>
                                    </span>
                                    <span class="search-item__images">
                                        <span class="search-item__images-item">
                                            <img src="images/content/search-items/img_4.jpg" srcset="images/content/search-items/img_4.jpg 2x" alt="Футболка Puma женская">
                                        </span>
                                        <span class="search-item__images-item">
                                            <img src="images/content/search-items/img_4.jpg" srcset="images/content/search-items/img_4.jpg 2x" alt="Футболка Puma женская">
                                        </span>
                                        <span class="search-item__images-item">
                                            <img src="images/content/search-items/img_4.jpg" srcset="images/content/search-items/img_4.jpg 2x" alt="Футболка Puma женская">
                                        </span>
                                        <span class="search-item__images-item">
                                            <img src="images/content/search-items/img_4.jpg" srcset="images/content/search-items/img_4.jpg 2x" alt="Футболка Puma женская">
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="search-item">
                                <a class="search-item__body search-item__body--type_1" href="#">
                                    <span class="search-item__image-block"></span>
                                    <span class="search-item__title-block">
                                        <span class="search-item__title"><b>Футболка</b> ТВОЕ женская</span>
                                        <span class="search-item__price">379 ₽</span>
                                    </span>
                                    <span class="search-item__images">
                                        <span class="search-item__images-item">
                                            <img src="images/content/search-items/img_4.jpg" srcset="images/content/search-items/img_4.jpg 2x" alt="Футболка ТВОЕ женская">
                                        </span>
                                        <span class="search-item__images-item">
                                            <img src="images/content/search-items/img_4.jpg" srcset="images/content/search-items/img_4.jpg 2x" alt="Футболк ТВОЕ женская">
                                        </span>
                                        <span class="search-item__images-item">
                                            <img src="images/content/search-items/img_4.jpg" srcset="images/content/search-items/img_4.jpg 2x" alt="Футболка ТВОЕ женская">
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="search-item">
                                <a class="search-item__body search-item__body--type_1" href="#">
                                    <span class="search-item__image-block"></span>
                                    <span class="search-item__title-block">
                                        <span class="search-item__title"><b>Футболка</b> Under Armor женская</span>
                                        <span class="search-item__price">890 ₽</span>
                                    </span>
                                    <span class="search-item__images">
                                        <span class="search-item__images-item">
                                            <img src="images/content/search-items/img_4.jpg" srcset="images/content/search-items/img_4.jpg 2x" alt="Футболка Under Armor женская">
                                        </span>
                                        <span class="search-item__images-item">
                                            <img src="images/content/search-items/img_4.jpg" srcset="images/content/search-items/img_4.jpg 2x" alt="Футболка Under Armor женская">
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__bottom-links">
                <a class="header-link" href="#">
                    <span class="header-link__icon-container">
                        <svg class="icon icon--big">
                            <use xlink:href="#help"></use>
                        </svg>
                    </span>
                    <span class="header-link__title">Помощь</span>
                </a>
                <a class="header-link header-link--type_1" href="#">
                    <span class="header-link__icon-container">
                        <svg class="icon icon--big">
                            <use xlink:href="#login"></use>
                        </svg>
                    </span>
                    <span class="header-link__title">Войти</span>
                </a>
                <a class="header-link" href="#">
                    <span class="header-link__icon-container">
                        <span class="header-link__notificator notificator">123</span>
                        <svg class="icon icon--big">
                            <use xlink:href="#favorite"></use>
                        </svg>
                    </span>
                    <span class="header-link__title">Избранное</span>
                </a>
                <div class="cart-block">
                    <a class="js-cart-toggler header-link" href="#">
                        <span class="header-link__icon-container">
                            <span class="header-link__notificator notificator">10</span>
                            <svg class="icon icon--big">
                                <use xlink:href="#cart"></use>
                            </svg>
                        </span>
                        <span class="header-link__title">Корзина</span>
                    </a>
                    <div class="cart-block__dropdown dropdown">
                        <div class="mini-cart">
                            <p class="mini-cart__title-block">
                                <span class="mini-cart__title">В корзине 323 товара и нанесение на сумму</span>
                                <span class="mini-cart__cost">138&nbsp;301.50&nbsp;₽</span>
                            </p>
                            <div class="mini-cart__list">
                                <a class="mc-item" href="detail.html">
                                    <span class="mc-item__image-block">
                                        <img src="images/content/mini-cart/img_1.jpg" srcset="images/content/mini-cart/img_1@2x.jpg 2x" alt="Стерилизатор с функцией беспроводной зарядки Chili, белый">
                                    </span>
                                    <span class="mc-item__title">Стерилизатор с функцией беспроводной зарядки Chili, белый</span>
                                    <span class="mc-item__qnt-block">
                                        <span class="mc-item__qnt">56 шт</span>
                                        <span class="mc-item__service">+ печать</span>
                                    </span>
                                    <span class="mc-item__price">11&nbsp;378&nbsp;₽</span>
                                </a>
                                <a class="mc-item" href="detail.html">
                                    <span class="mc-item__image-block">
                                        <img src="images/content/mini-cart/img_2.jpg" srcset="images/content/mini-cart/img_2@2x.jpg 2x" alt="Портативное зарядное устройство «Олдбери», 2200 mAh">
                                    </span>
                                    <span class="mc-item__title">Портативное зарядное устройство «Олдбери», 2200 mAh</span>
                                    <span class="mc-item__qnt-block">
                                        <span class="mc-item__qnt">120 шт</span>
                                        <span class="mc-item__service">+ печать</span>
                                    </span>
                                    <span class="mc-item__price">34&nbsp;890&nbsp;₽</span>
                                </a>
                                <a class="mc-item" href="detail.html">
                                    <span class="mc-item__image-block">
                                        <img src="images/content/mini-cart/img_3.jpg" srcset="images/content/mini-cart/img_3@2x.jpg 2x" alt="Зонт трость полуавтомат Яркость, красный">
                                    </span>
                                    <span class="mc-item__title">Зонт трость полуавтомат Яркость, красный</span>
                                    <span class="mc-item__qnt-block">
                                        <span class="mc-item__qnt">44 шт</span>
                                    </span>
                                    <span class="mc-item__price">9&nbsp;270&nbsp;₽</span>
                                </a>
                                <a class="mc-item" href="detail.html">
                                    <span class="mc-item__image-block">
                                        <img src="images/content/mini-cart/img_4.jpg" srcset="images/content/mini-cart/img_4@2x.jpg 2x" alt="Зарядное устройство беспроводное Ritmix RM-1000W">
                                    </span>
                                    <span class="mc-item__title">Зарядное устройство беспроводное Ritmix RM-1000W</span>
                                    <span class="mc-item__qnt-block">
                                        <span class="mc-item__qnt">23 шт</span>
                                    </span>
                                    <span class="mc-item__price">17&nbsp;778&nbsp;₽</span>
                                </a>
                                <a class="mc-item" href="detail.html">
                                    <span class="mc-item__image-block">
                                        <img src="images/content/mini-cart/img_5.jpg" srcset="images/content/mini-cart/img_5@2x.jpg 2x" alt="Плед для пикника Comfy, черный">
                                    </span>
                                    <span class="mc-item__title">Плед для пикника Comfy, черный</span>
                                    <span class="mc-item__qnt-block">
                                        <span class="mc-item__qnt">80 шт</span>
                                        <span class="mc-item__service">+ печать</span>
                                    </span>
                                    <span class="mc-item__price">29&nbsp;587&nbsp;₽</span>
                                </a>
                            </div>
                            <div class="mini-cart__buttons-block">
                                <button class="mini-cart__clear" type="button" title="Очистить корзину">
                                    <svg class="icon icon--big">
                                        <use xlink:href="#delete"></use>
                                    </svg>
                                </button>
                                <a class="mini-cart__cart-link button button--primary button--big disabled" href="cart.hrml">Минимальная сумма заказа - 5000 ₽</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>