<div id="modal_1" class="popup popup--400">
    <div class="popup__content">
        <div class="popup__logo">
            <img width="168" height="42" src="images/logo_full.svg" alt="TOOMANYGIFTS">
        </div>
        <div class="popup__enter-block">
            <span class="popup__enter-title">Войти</span>
            <button class="popup__enter-button" type="button">Зарегистрироваться</button>
        </div>
        <div class="popup__row">
            <button class="button button--primary button--big button--wide" type="button">По E-mail адресу</button>
        </div>
        <div class="popup__row popup__row--type_1">
            <button class="button button--primary button--big button--wide" type="button">По номеру телефона</button>
        </div>
        <button class="button button--secondary button--big button--wide" type="button">Продолжить без авторизации</button>
    </div>
</div>

<div id="request" class="popup popup--400">
    <div class="popup__content">
        <p class="popup__header">Оставить заявку</p>
        <div class="popup__logo">
            <img width="168" height="42" src="images/logo_full.svg" alt="TOOMANYGIFTS">
        </div>
        <form class="popup__row popup__row--type_1" action="">
            <div class="popup__row">
                <label class="input-label">
                    <span class="input-label__input-container">
                        <input class="js-input input" type="text" value="" />
                        <span class="input-label__label-text">Имя <span class="required">*</span></span>
                    </span>
                </label>
            </div>
            <div class="popup__row">
                <label class="phone-input">
                    <span class="phone-input__input-container">
                        <button class="phone-input__prefix" type="button">
                            <span class="phone-input__prefix-text">+7</span>
                            <svg class="phone-input__prefix-arrow icon icon--small icon--fill">
                                <use xlink:href="#arrow_down"></use>
                            </svg>
                        </button>
                        <input class="phone-input__input" type="text" value="" placeholder="(999) 123-45-67" />
                        <span class="phone-input__pseudo-container"></span>
                        <div class="phone-input__dropdown dropdown">
                            <ul class="dropdown-list">
                                <li class="dropdown-list__list-item"><button class="dropdown-list__item selected" type="button"><span class="phone-prefix"><span class="phone-prefix__code">+994</span> Азербайджан</span></button></li>
                                <li class="dropdown-list__list-item"><button class="dropdown-list__item" type="button"><span class="phone-prefix"><span class="phone-prefix__code">+347</span> Армения</span></button></li>
                                <li class="dropdown-list__list-item"><button class="dropdown-list__item" type="button"><span class="phone-prefix"><span class="phone-prefix__code">+375</span> Беларусь</span></button></li>
                                <li class="dropdown-list__list-item"><button class="dropdown-list__item" type="button"><span class="phone-prefix"><span class="phone-prefix__code">+7</span> Россия</span></button></li>
                            </ul>
                        </div>
                    </span>
                </label>
            </div>
            <div class="popup__row">
                <label class="input-label">
                    <span class="input-label__input-container">
                        <input class="js-input input" type="text" value="" />
                        <span class="input-label__label-text">Email <span class="required">*</span></span>
                    </span>
                </label>
            </div>
            <div class="popup__row popup__row--type_1">
                <label class="input-label">
                    <span class="input-label__input-container">
                        <input class="js-input input" type="text" value="" />
                        <span class="input-label__label-text">Название компании</span>
                    </span>
                </label>
            </div>
            <div class="popup__row popup__row--type_1">
                <div class="input-file">
                    <input id="input_3" type="file">
                    <label class="input-file__text-block ready" for="input_3"><span class="input-file__text">Прикрепить файл +</span></label>
                </div>
            </div>
            <div class="popup__row popup__row--type_1">
                <div class="input-file">
                    <input id="input_4" type="file">
                    <label class="input-file__text-block preload" for="input_4"><span class="input-file__text">гениальная_идея.pdf</span></label>
                    <span class="input-file__placeholder">Прикрепить реквизиты</span>
                    <button class="input-file__delete" type="button" title="Очистить">
                        <svg class="icon icon--big">
                            <use xlink:href="#close"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <hr class="popup__row popup__row--type_1">
            <div class="popup__row">
                <label class="input-label">
                    <span class="input-label__input-container">
                        <input class="js-input input" type="text" value="" />
                        <span class="input-label__label-text">Тираж</span>
                    </span>
                </label>
            </div>
            <div class="popup__row">
                <label class="input-label">
                    <span class="input-label__input-container">
                        <input class="js-input input" type="text" value="" />
                        <span class="input-label__label-text">Ориентировочный бюджет</span>
                    </span>
                </label>
            </div>
            <div class="popup__row popup__row--type_1">
                <label class="input-label">
                    <span class="input-label__input-container">
                        <input class="js-input input" type="text" value="" />
                        <span class="input-label__label-text">Желаемая дата доставки</span>
                    </span>
                </label>
            </div>
            <div class="popup__row popup__row--type_1">
                <label class="checkbox-label checkbox-label--tiny">
                    <input type="checkbox" />
                    <span class="checkbox-icon"></span>
                    <span class="checkbox-text">Нажимая кнопку «Отправить», я даю свое согласие на обработ-ку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей,
                        определенных в Согласии на обработ-ку персональных данных <span class="required">*</span></span>
                </label>
            </div>
            <button class="button button--primary button--big button--wide" type="button" disabled>Отправить</button>
        </form>
    </div>
</div>

<div id="help_popup" class="popup popup--1204">
    <div class="popup__content">

    </div>
</div>