<!--основные стили страницы и типографика-->
<link rel="stylesheet" href="css/style.css" />

<!--стили общих блоков-->
<link rel="stylesheet" href="css/header.css" />
<link rel="stylesheet" href="css/logo.css" />
<link rel="stylesheet" href="css/location.css" />
<link rel="stylesheet" href="css/header-phone.css" />
<link rel="stylesheet" href="css/header-menu.css" />
<link rel="stylesheet" href="css/catalog-menu.css" />
<link rel="stylesheet" href="css/search-bar.css" />
<link rel="stylesheet" href="css/search-item.css" />
<link rel="stylesheet" href="css/iconed-link.css" />
<link rel="stylesheet" href="css/notificator.css" />
<link rel="stylesheet" href="css/dropdown.css" />
<link rel="stylesheet" href="css/cart-block.css" />
<link rel="stylesheet" href="css/footer.css" />
<link rel="stylesheet" href="css/footer-menu.css" />
<link rel="stylesheet" href="css/float-bar.css" />
<link rel="stylesheet" href="css/popup.css" />
<link rel="stylesheet" href="css/inputs.css" />
<link rel="stylesheet" href="css/phone-input.css" />
<link rel="stylesheet" href="css/input-file.css" />
<link rel="stylesheet" href="css/help-popup.css" />

<!--стили подключаемых плагинов-->
<link rel="stylesheet" href="plugins_css/jquery.fancybox.css" />

<!--стили модификаторы подключаемых плагинов-->
<link rel="stylesheet" href="css/fancybox-modifier.css" />