@import "base/_variables.scss";

.dropdown {
    border-radius: 4px;
    box-shadow: 0 -3px 12px 0 rgba(#00508A, 0.05), 0 6px 12px -6px rgba(#2574AC, 0.08), 0 8px 24px -4px rgba(#2772A8, 0.08);
    background-color: #fff;
    display: none;
    left: 0;
    min-width: 100%;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    transform: translateY(-30px);
    top: calc(100% + 14px);
    transition: opacity 0.3s, transform 0.3s;
    z-index: 1;

    &.is-active {
        display: block;
    }

    &.is-open {
        opacity: 1;
        transform: translateY(0);
    }
}