@import "base/_variables.scss";

.header {
    min-height: 136px;

    &.scrolled {
        .header__bottom {
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 10;

            &::after {
                background-color: $primary-ghostH;
                content: '';
                height: 1px;
                left: 0;
                position: absolute;
                top: 100%;
                width: 100%;
                z-index: 1;
            }
        }
    }

    &__top {
        align-items: center;
        display: flex;
        min-height: 68px;
    }

    &__bottom {
        background-color: #fff;
    }

    &__bottom-inner {
        align-items: center;
        display: flex;
        min-height: 68px;
        position: relative;
        z-index: 2;
    }

    &__search {
        flex-grow: 1;
        margin-right: 48px;
    }

    &__bottom-links {
        display: flex;
        margin-left: auto;

        & > .header-link {
            &:not(:last-child) {
                margin-right: 24px;
            }
        }
    }
}

.logo {
    display: block;
    height: 32px;
    width: 26px;
    @media(min-width: 1024px) {
        height: 42px;
        width: 168px;
    }

    picture {
        display: block;
    }
}

.catalog-toggler {
    align-items: center;
    border-radius: 4px;
    background-color: $primary-medium;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: 'Montserrat', 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.2px;
    margin-right: 20px;
    padding: 8px 16px;
    transition: background-color 0.3s;

    &:focus,
    &:hover {
        background-color: $primary-full;
    }

    &.is-active {
        background-color: $secondary-medium;

        &:focus,
        &:hover {
            background-color: $secondary-full;
        }
    }

    span {
        &:first-child {
            margin-right: 8px;
        }

        &:last-child {
            margin-left: 8px;
        }
    }

    .icon {
        stroke: #fff;
    }
}