@import "base/_variables.scss";

.header {
    min-height: 136px;

    &.scrolled {
        .header__bottom {
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 10;

            &::after {
                background-color: $primary-ghostH;
                content: '';
                height: 1px;
                left: 0;
                position: absolute;
                top: 100%;
                width: 100%;
                z-index: 1;
            }
        }
    }

    &__top {
        align-items: center;
        display: flex;
        min-height: 68px;
        @media(min-width: 768px) {
            position: relative;
            z-index: 2;
        }
    }

    &__location {
        margin-left: 16px;
        @media(min-width: 1024px) {
            margin-left: 24px;
        }
    }

    &__contacts {
        align-items: center;
        font-size: 14px;
        line-height: 1.14285;
        margin-left: auto;
        @media(min-width: 768px) {
            display: none;
        }
        @media(min-width: 1350px) {
            display: flex;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__email {
        color: $text-full;
        display: none;
        @media(min-width: 1350px) {
            align-items: center;
            display: flex;
            height: 40px;
        }
    }

    &__menu {
        @media(min-width: 768px) {
            margin-left: auto;
        }

        .header-submenu {
            &:not(:last-child) {
                @media(min-width: 768px) {
                    margin-right: 16px;
                }
            }
        }
    }

    &__bottom {
        background-color: #fff;
        position: relative;
        z-index: 1;
    }

    &__bottom-inner {
        align-items: center;
        display: flex;
        min-height: 68px;
        position: relative;
        z-index: 2;
    }

    &__search {
        flex-grow: 1;
        margin-right: 16px;
        @media(min-width: 768px) and (max-width: 1023px) {
            margin-right: 0;
        }
        @media(min-width: 1350px) {
            margin-right: 48px;
        }
    }

    &__bottom-links {
        display: none;
        margin-left: auto;
        @media(min-width: 1024px) {
            display: flex;
        }

        & > .iconed-link {
            &:not(:last-child) {
                margin-right: 20px;
                @media(min-width: 1350px) {
                    margin-right: 24px;
                }
            }
        }
    }
}