@import "base/_variables.scss";

.list-clear {
    background-color: transparent;
    border: none;
    color: $secondary-medium;
    cursor: pointer;
    font-family: 'Montserrat', 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    min-height: 40px;
    letter-spacing: 0.15px;
    line-height: 1.21428;
    padding: 8px 0;
    transition: color 0.3s;

    &:focus,
    &:hover {
        color: $secondary-full;
    }
}