@import "base/_variables.scss";

.main-slider {
    margin-bottom: 20px;
    @media(max-width: 767px) {
        margin-left: -20px;
        margin-right: -20px;
    }

    &:hover {
        .swiper-button-next,
        .swiper-button-prev {
            opacity: 1;
        }
    }

    &__slide {
        box-sizing: border-box;
        display: block;
        position: relative;
        text-decoration: none;

        &:hover {
            img {
                transform: scale(1.02);
            }
        }
    }

    &__slide-image {
        display: block;
        overflow: hidden;

        img {
            min-height: 300px;
            object-fit: cover;
            object-position: center;
            transition: transform 0.3s;
            transform: scale(1);
        }
    }

    &__slide-container {
        left: 0;
        position: absolute;
        padding: 32px 24px;
        top: 0;
        width: 100%;
        z-index: 1;
        @media(min-width: 1024px) {
            padding: 62px 45px;
        }
    }

    &__slide-title {
        color: $orange;
        display: block;
        font-family: 'Montserrat', 'Roboto', Arial, sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 1.225;
        margin-top: 0;
        margin-bottom: 15px;
        @media(min-width: 1024px) {
            font-size: 40px;
        }
    }

    &__slide-text {
        color: $text-full;
        display: block;
        font-size: 24px;
        line-height: 1.16666;
    }

    .swiper-button-next,
    .swiper-button-prev {
        border: none;
        border-radius: 50%;
        background-color: rgba(#D3E8F8, 0.2);
        height: 48px;
        opacity: 0;
        transition: background-color 0.3s, opacity 0.3s;
        width: 48px;

        &::after {
            display: none;
        }

        &:hover {
            background-color: rgba(#D3E8F8, 0.5);

            svg {
                stroke: $text-full;
            }
        }

        svg {
            stroke: $text-low;
            height: 48px;
            width: 48px;
        }
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-pagination {
        bottom: 24px;
        display: flex;
        justify-content: center;
        height: 12px;
    }

    .swiper-pagination-bullet {
        background-color: rgba(#BDD3E3, 0.3);
        border-radius: 6px;
        height: 12px;
        margin-left: 6px;
        margin-right: 6px;
        opacity: 1;
        transition: width 0.3s, background-color 0.3s;
        width: 12px;

        &:hover {
            background-color: rgba(#BDD3E3, 0.6);
        }
    }

    .swiper-pagination-bullet-active {
        background-color: $secondary-medium;
        width: 40px;

        &:hover {
            background-color: $secondary-medium;
        }
    }
}