@import "base/_variables.scss";

.pagination-block {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 56px;
    padding-top: 10px;
    padding-bottom: 10px;
    @media(min-width: 768px) {
        justify-content: flex-start;
    }

    .pager {
        margin-bottom: 10px;
        justify-content: center;
        width: 100%;
        @media(min-width: 768px) {
            margin-bottom: 0;
            justify-content: flex-start;
            width: auto;
        }
    }

    &__pages {
        color: $text-full;
        font-size: 14px;
        line-height: 1.14285;
        @media(min-width: 768px) {
            margin-left: auto;
        }
    }
}