@import "base/_variables.scss";

.cards-list {
    display: flex;
    flex-wrap: wrap;

    &--type_1 {
        margin-left: -2px;
        margin-right: -2px;

        .cards-list__item {
            padding-right: 2px;
            padding-left: 2px;
            width: 100%;
            @media(min-width: 540px) {
                width: 50%;
            }
            @media(min-width: 768px) {
                width: 33.33333%;
            }
            @media(min-width: 1024px) {
                width: 25%;
            }
            @media(min-width: 1260px) {
                width: 20%;
            }
        }
    }

    &--type_2 {
        @media(min-width: 768px) {
            margin-left: -10px;
            margin-right: -10px;
        }
        @media(min-width: 1200px) {
            margin-left: 0;
            margin-right: 0;
        }

        .cards-list__item {
            width: 100%;
            @media(min-width: 540px) {
                width: 50%;
            }
            @media(min-width: 768px) {
                width: 33.33333%;
            }
            @media(min-width: 1260px) {
                width: 25%;
            }
        }
    }

    &--type_3 {
        @media(min-width: 768px) {
            margin-left: -10px;
            margin-right: -10px;
        }
        @media(min-width: 1200px) {
            justify-content: space-between;
            margin-left: 0;
            margin-right: 0;
        }

        .cards-list__item {
            width: 100%;
            @media(min-width: 540px) {
                width: 50%;
            }
            @media(min-width: 768px) {
                width: 33.33333%;
            }
            @media(min-width: 1200px) {
                margin-bottom: 40px;
                max-width: 432px;
                width: 50%;
            }
        }
    }

    &--type_4 {
        display: block;
        @media(min-width: 560px) {
            display: grid;
            grid-template-columns: repeat(auto-fill, 252px);
            column-gap: calc(100% - 252px * 2);
            justify-items: stretch;
            align-items: stretch;
        }
        @media(min-width: 820px) {
            column-gap: calc((100% - 252px * 3) / 2);
        }
        @media(min-width: 1070px) {
            column-gap: calc((100% - 252px * 4) / 3);
        }
    }

    &--type_5 {
        @media(min-width: 768px) {
            margin-left: -10px;
            margin-right: -10px;
        }
        @media(min-width: 1200px) {
            margin-left: 0;
            margin-right: 0;
        }

        .cards-list__item {
            width: 100%;
            @media(min-width: 540px) {
                width: 50%;
            }
            @media(min-width: 768px) {
                width: 33.33333%;
            }
            @media(min-width: 1200px) {
                margin-bottom: 40px;
                width: 50%;
            }
        }
    }

    &__item {
        margin-bottom: 20px;
    }
}