@import "base/_variables.scss";

.compare {
    overflow: hidden;
    width: 100%;

    &__top {
        height: 416px;
    }

    &__next,
    &__prev {
        align-items: center;
        border: none;
        border-radius: 50%;
        background-color: rgba(#D3E8F8, 0.2);
        cursor: pointer;
        display: flex;
        height: 48px;
        padding: 0;
        position: absolute;
        top: 102px;
        transition: background-color 0.3s;
        width: 48px;
        z-index: 4;

        &:hover {
            background-color: rgba(#D3E8F8, 0.5);

            svg {
                stroke: $text-full;
            }
        }

        svg {
            stroke: $text-low;
            height: 48px;
            width: 48px;
        }
    }

    &__prev {
        left: 20px;
        @media(min-width: 1350px) {
            left: calc(50% - 664px);
            /*половина контейнера без паддингов + половина кнопки*/
        }
    }

    &__next {
        left: auto;
        right: 20px;
        @media(min-width: 1350px) {
            right: calc(50% - 664px);
            /*половина контейнера без паддингов + половина кнопки*/
        }
    }

    &__container {
        min-width: 320px;
        position: relative;
        @media(min-width: 1350px) {
            padding-left: calc(50% - 640px);
            padding-right: calc(50% - 640px);
            /*половина контейнера без паддингов*/
        }

        &--type_2 {
            padding-top: 48px;
            padding-bottom: 24px;

            &:not(:last-child) {
                border-bottom: 1px solid $primary-ghostH;
            }
        }

        &.scrolled {
            background-color: #fff;
            box-shadow: 0 0 3px 3px rgba(#000, 0.1);
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 10;

            .compare__next,
            .compare__prev {
                top: 16px;
            }

            .card--type_2 {
                min-height: 0;
            }

            .card__inner {
                flex-direction: row;
                position: static;
            }

            .card__link {
                min-width: 60px;
                padding-bottom: 0;
                margin-bottom: 0;
                width: 60px;
            }

            .card__image {
                width: 40px;
            }

            .card__label {
                display: none;
            }

            .card__price-block {
                display: none;
            }

            .card__title {
                font-size: 12px;
                height: 50px;
                margin-bottom: 0;
            }

            .card__buttons {
                display: none;
            }
        }
    }

    &__container-title {
        align-items: center;
        color: $text-medium;
        display: flex;
        font-size: 10px;
        letter-spacing: 0.3px;
        min-height: 28px;
        position: absolute;
        padding-right: 16px;
        padding-left: 16px;
        top: 16px;
        text-transform: uppercase;
    }

    &__container-inner {
        display: inline-flex;
        transition: transform 0.2s ease-out;
        vertical-align: top;
    }

    &__item {
        color: $text-full;
        line-height: 1.1875;
        min-width: 252px;
        margin-right: 4px;
        position: relative;
        padding-right: 16px;
        padding-left: 16px;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-word;
        width: 252px;
    }

    &__colors {
        display: flex;
        flex-wrap: wrap;

        .color {
            margin-right: 4px;
            margin-bottom: 4px;
        }
    }
}