@import "base/_variables.scss";

.contacts {
    @media(min-width: 1024px) {
        display: flex;
        margin: 40px -10px;
    }
    @media(min-width: 1260px) {
        margin-left: -15px;
        margin-right: -15px;
    }

    &__block {
        @media(min-width: 1024px) {
            padding-left: 10px;
            padding-right: 10px;
            width: 33.33333%;
        }
        @media(min-width: 1260px) {
            padding-left: 15px;
            padding-right: 15px;
        }

        .h5 {
            margin-top: 24px;
        }
    }

    &__block-inner {
        background-color: $background-alt;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 8px;
    }

    &__block-title {
        background-color: $primary-ghostH;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.4px;
        margin-left: -8px;
        margin-right: -8px;
        padding: 8px;
        margin-bottom: 24px;
        @media(min-width: 1024px) {
            font-size: 20px;
        }
    }
}

.tabs-nav + .contacts-map {
    margin-top: -40px;
}

.contacts-map {
    background-color: $background-alt;
    height: 480px;
    left: 50%;
    margin-right: 0;
    margin-left: 0;
    position: relative;
    transform: translateX(-50%);
    width: 100vw;

    &:last-child {
        margin-bottom: -40px;
    }
}