@import "base/_variables.scss";

.dotted-links {
    font-family: 'Montserrat', 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 1.21428;
    list-style: none;
    padding: 0;
    text-transform: uppercase;

    &--type_1 {
        margin-top: 40px;
        margin-bottom: 60px;
        overflow: hidden;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        break-inside: avoid-column;
        overflow-wrap: initial;
        @media(min-width: 600px) {
            columns: 2;
        }
        @media(min-width: 768px) {
            columns: 3;
        }

        li {
            overflow: hidden;
        }

        .dotted-links__link {
            color: $text-medium;

            &:focus,
            &:hover {
                color: $primary-full;
            }
        }
    }

    &--type_2 {
        display: flex;
        margin-bottom: 6px;
        overflow-x: auto;
        scrollbar-width: thin;
        scrollbar-color: $text-lowest transparent;
        white-space: nowrap;

        &::-webkit-scrollbar {
            height: 6px;
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $text-lowest;
            width: 6px;
        }

        li {
            &:not(:last-child) {
                margin-right: 24px;
            }
        }

        .dotted-links__link {
            color: $secondary-medium;

            &:focus,
            &:hover {
                color: $secondary-full;
            }
        }
    }

    &__link {
        align-items: center;
        display: flex;
        min-height: 40px;
        position: relative;
        padding-left: 20px;

        &::before {
            content: '•';
            left: 0;
            line-height: 1;
            margin-top: -1px;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
        }
    }
}