@import "base/_variables.scss";

.footer-menu {
    list-style: none;
    padding: 0;

    &:not(:last-child) {
        margin-bottom: 36px;
    }

    &--type_1 {
        .footer-menu__link {
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }

    &--type_2 {
        column-count: 2;
        column-width: 80px;
    }

    &__link {
        color: $primary-full;
        display: block;
        padding-top: 4px;
        padding-bottom: 4px;

        &:focus,
        &:hover {
            color: $primary-medium;
        }
    }
}