@import "base/_variables.scss";

.input-label {
    display: block;

    &__label-text {
        color: $text-low;
        cursor: text;
        display: block;
        font-size: 16px;
        left: 0;
        line-height: 1.1875;
        letter-spacing: 0.35px;
        overflow: hidden;
        position: absolute;
        padding-left: 12px;
        padding-right: 12px;
        top: 0;
        transform: translateY(10px);
        transition: transform 0.2s;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__input-container {
        display: block;
        position: relative;

        .input {
            padding-right: 52px;

            &.changed + .input-label__label-text,
            &:focus + .input-label__label-text {
                color: $text-low;
                display: block;
                font-size: 10px;
                line-height: 1.2;
                letter-spacing: 0.3px;
                transform: translateY(-16px);
                text-transform: uppercase;
            }
        }
    }

    &__input-action,
    &__input-status {
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: center;
        left: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        z-index: 1;
    }

    &__input-status {
        &--verified {
            svg {
                stroke: $green;
                stroke-width: 1.6px;
            }
        }
    }

    &__input-action {
        background-color: transparent;
        border: none;
        cursor: pointer;

        &--delete {
            svg {
                stroke: $secondary-medium;
                stroke-width: 1.4px;
            }
        }

        &--clear {
            svg {
                stroke: $text-medium;
                stroke-width: 1.4px;
            }
        }

        &--undo {
            svg {
                stroke: $primary-medium;
                stroke-width: 1.4px;
            }
        }
    }
}

.input,
.textarea {
    background-color: #fff;
    border: 1px solid $primary-ghostL;
    border-radius: 4px;
    color: $text-full;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.35px;
    padding: 10px 12px;
    text-overflow: ellipsis;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    width: 100%;

    &:hover {
        border-color: $primary-full;
    }

    &:focus {
        border-color: $primary-medium;
        box-shadow: none;
        outline: none;
    }

    &.error {
        border-color: $secondary-full;

        &:focus {
            border-color: $secondary-full;
        }
    }

    &:disabled {
        background-color: $background-alt;
        color: $text-full;

        &:hover {
            border-color: $primary-ghostL;
        }
    }

    &:-ms-input-placeholder {
        color: $text-low;
        opacity: 1;
    }

    &::-moz-placeholder {
        color: $text-low;
        opacity: 1;
    }

    &::-webkit-input-placeholder {
        color: $text-low;
        opacity: 1;
    }
}

.input {
    height: 40px;

    &.deleted {
        color: $text-low;
    }
}

.textarea {
    height: 80px;
    resize: vertical;
}